<div class="container">
	<div class="page-header">
	  <h3>Process Returns For Completed Projects</h3>
	</div>
	<div class="row">
		<div class="span10">
			<% @projects.each do |project| %>
				<% if project.y1_savings_per.nil? %>
					<h4><%= project.project_name %></h4>
					<h4><%= project.id %></h4>
					<%= link_to "Show All Investors", new_admin_project_return_path(id: project.id), class: 'btn' %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>