<header class="jumbotron masthead">
  <div class="container">
    <div class="row pull-left">
      <h1 style="color:#FFFFFF;">Energy</h1>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
    <p>
      <a href="assets/bootstrap.zip" class="btn btn-primary btn-large" >Start Investing</a>
    </p>
    <ul class="masthead-links">
      <li>
        <a href="http://github.com/twitter/bootstrap" >How It Works</a>
      </li>
      <li>
        <a href="./getting-started.html#examples" >About Us</a>
      </li>
      <li>
        <a href="./extend.html" >Case Studies</a>
      </li>
      <li>
        © Energy
      </li>
    </ul>
  </div>
</div>
</header>

<div class="main content">
  <div class="section-hold trans">
    <div class="container">
      <div class="row">
        <h1 style="padding-bottom: 40px;">Introducing Energy Crowdfunding</h1></br>
        <div class="span4">
          <i class="icon-key icon-4x marketing-img"></i>
          <h2>By nerds, for nerds.</h2>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        </div>
        <div class="span4">
          <i class="icon-key icon-4x marketing-img"></i>
          <h2>By nerds, for nerds.</h2>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        </div>
        <div class="span4">
          <i class="icon-key icon-4x marketing-img"></i>
          <h2>By nerds, for nerds.</h2>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-hold trans">
    <div class="container">
      <div class="row">
        <h1 style="padding-bottom: 40px;">How It Works</h1></br>
        <div class="span3">
          <h2>1. Browse</h2>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        </div>
        <div class="span3">
          <h2>2. Invest</h2>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        </div>
        <div class="span3">
          <h2>3. Save Energy</h2>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        </div>
        <div class="span3">
          <h2>4. Earn Return</h2>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        </div>
      </div>
    </div>
  </div>
   <div class="section-hold trans">
    <div class="container">
      <div class="row">
        <h1 style="padding-bottom: 40px;">About Us</h1></br>
        <div class="span12">
          <h2>Our Mission</h2>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        </div>
        <div class="span12">
          <h2>Our Team</h2>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        </div>
      </div>
    </div>
  </div>
</div>

