<div class="page-header">
  <h1>All Projects</h1>
</div>

<% @projects.each do |project| %>
<div class="project">
  <strong><%= link_to project.project_name, project %></strong>
  <p><%= project.project_cost %></p>
</div>

<% end %>