<div class="container">
	<div class="page-header">
	  <h3>Enter Energy Savings For Completed Projects</h4>
	</div>
	<div class="row">
		<div class="span10">
			 <% @projects.each do |project| %>
				 	<h4><%= project.project_name %></h4>
				 	<h4><%= project.project_owner %></h4>
				 	<%= link_to "Enter Savings", projects_new_savings_path(id: project.id), class: 'btn' %>
			 <% end %>
		</div>
	</div>
</div>