<p id="notice"><%= notice %></p>

<div class="container">
	<h6><%= link_to '< Back to Projects', projects_path %></h6>
	<div class="page-header hero-unit">
		
		<h1><%= @project.project_name %></h1>
	</div>
	
	<div class="row">
		<div class="span4" style="height: 200px">
			<h4>Project Description</h4>	
		</div>
		<div class="span4" style="height: 200px">
			<h4>Project Location</h4>	
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<h4>Project Funded</h4>
			<div class="progress">
				<div class="bar" style="width: 30%;"></div>
			</div>
		</div>
		<div class="span8">
			<h4>Invest</h4>
 			<div class="btn btn-large"><%= link_to "$100", new_project_funding_path(project_id: @project) %></div>
 			<div class="btn btn-large">$200</div>
 			<div class="btn btn-large">$500</div>
 		</div>
	</div>
 </div>
 



