/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
	padding-top: 40px;

}

.alert{
	margin-top: 0px;
	margin-bottom: -20px;
}

.notice{
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Main Home Page */

.main-content {
	background: #ffffff;
	border-top: 3px solid #dfdfdf;
	border-bottom: 3px solid #dfdfdf;
	min-height: 400px;
	margin-bottom: 400px;
	position: relative;
	-webkit-box-shadow: inset 0 16px 80px -20px #aaa, 0 -5px 7px rgba(0,0,0,0.1), 0 6px 4px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 16px 80px -20px #aaa, 0 -5px 7px rgba(0,0,0,0.1), 0 6px 4px rgba(0,0,0,0.1);
	box-shadow: inset 0 16px 80px -20px #aaa, 0 -5px 7px rgba(0,0,0,0.1), 0 6px 4px rgba(0,0,0,0.1);
	z-index: 2 !important;
}

.main-levels {
	margin-top: 20px;
	margin-bottom: 50px;
}

hr.home {
border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.home-funding {
	height: 70px;
	padding-top: 10px;
}


.home-funding-percent {
	width: 110px;
	padding-left: 15px;
	float: left;
}

.home-funding-total {
	width: 110px;
	float: left;
	padding-left: 5px;
}

.home-funding-savings {
	width: 110px;
	float: left;
	padding-left: 5px;
}

.home-funding .progress {
	height: 8px;
	width: 300px;
	margin-left: 25px;
	background: #dddddd;
}

.home-funding .progress .bar{
	background-color: #dddddd;
	width: 0;
}



/* Show Project Page */

.show-container {
	position: relative;
	width: 940px;
	margin-top: 20px;
	
}

.show-details {
	width: 450px;
	min-height: 210px;
	position: absolute;
	right: 20px;
	top: 350px;
	background-color: #ffffff;
	opacity: 1;
	padding: 10px 12px;
	z-index: 3;
	border: 1px #000000 solid;

}

.show-photo {
	position: absolute;
	width: 940px;
	height: 500px;
	z-index: 1;
	opacity: 0.8;

}

.show-funding {
	background-color: #dddddd;
	height: 90px;
	padding-top: 15px;
}


.show-funding-percent {
	width: 140px;
	padding-left: 15px;
	float: left;
}

.show-funding-total {
	width: 140px;
	float: left;
	padding-left: 5px;
}

.show-funding-savings {
	width: 140px;
	float: left;
	padding-left: 5px;
}

.show-funding .progress {
	height: 15px;
	width: 350px;
	margin-left: 50px;
	margin-top:10px;
}

.show-funding .progress .bar{
	background-color: #dddddd;
}


#investment-levels li{
	list-style: none;
	
	border-bottom: 1px dotted;
	text-align: center;
	width: 100%;
}

.investment-number {
	font-size: 30px;
	height: 100%;
	

}

.investment-block {
	line-height: 100px;
}


/* New Funding Page */

.details-title {
	background-color: #DDDDDD;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 30px;
}

.table-body {
	margin-top: 20px;
	margin-left: 20px;

}

.table-body td {
	border-bottom: 1px dotted;
	padding: 10px 20px 10px;
}

/* Project Index Page */

.row ul{
	margin-left: 0px;
}

.thumbnails li{
	background-color: #ffffff;
	font-size: 12px;
	box-shadow: 2px 2px 2px #eeeeee;
	border: 1px #dddddd solid;
	padding: 4px 4px 4px 4px;
	margin-right: -10px;
}


.index-funding {
	background-color: #dddddd;
	height: 83px;
	padding-top: 15px;
}


.index-funding-percent {
	width: 90px;
	padding-left: 15px;
	float: left;
}

.index-funding-total {
	width: 90px;
	float: left;
	padding-left: 5px;
}

.index-funding-savings {
	width: 90px;
	float: left;
	padding-left: 5px;
}

.index-funding .progress {
	height: 8px;
	width: 250px;
	margin-left: 25px;
}

.index-funding .progress .bar{
	background-color: #dddddd;
	width: 0;
}
/* Investments Index Page */

.investments-index-description table {
	width: 850px;
}

.investments-index-intro {
	width: 600px;
	border: 3px #bbbbbb solid;
	text-align: center;
	margin-left: 170px;
	margin-bottom: 30px;
	margin-top: 20px;
	padding: 10px 10px 10px 10px;
}
